* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
  /*         font-family: "Bebas Neue", sans-serif;
 font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        
        */
}
body{
  background-color: rgb(232, 226, 218);
}
html {
  scroll-behavior: smooth;
}
nav {
  width: 100%;
  height: 80px;
  background-color:rgb(232, 226, 218);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textNav {
  color: rgb(119, 119, 119);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: crosshair;
  z-index: 5;
}
.textNav:hover {
  color: rgb(46, 42, 39);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.btnNav {
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid rgb(119, 119, 119);
  color: rgb(119, 119, 119);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  background-color: rgb(232, 226, 218); /* Fondo inicial negro */
  background-image: linear-gradient(to top, rgb(46, 42, 39) 50%,  rgb(232, 226, 218) 50%);
  background-size: 100% 300%;
  background-position: 0 0;
  cursor: pointer;
  z-index: 5;
  transition: background-position 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.btnNav:hover {
  border: 2px solid rgb(46, 42, 39); /* Cambia el color del borde a naranja */
  background-position: 0 100%; /* Mueve el fondo hacia arriba para mostrar el color naranja */
  color: rgb(232, 226, 218); /* Cambia el color del texto a negro */
}

.section1 {
  width: 97%;
  margin: 0px auto;
  height: auto;
  background-color: rgb(46, 42, 39);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  flex-direction: column;
overflow: hidden;

}


.titulo {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

}
.titulo2 {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;


}
.textTitle1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color:  rgb(232, 226, 218) ;
  font-size: 23.5rem;
  letter-spacing: -10px;
  cursor: crosshair;
 
}



.guion {
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textTitle2 {
  width: 100%;
  height: 30px;
  background-color:rgb(232, 226, 218);
  
}



.textTitle3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 23.5rem;
  letter-spacing: -10px;
  cursor: crosshair;
  color:  rgb(232, 226, 218);

}



.textTitle4 {
  margin-top: -210px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 23.5rem;
  letter-spacing: -10px;
  cursor: crosshair;
  color: rgb(211, 47, 47);
}




.scrollDown {
  margin-top: -210px;
  width: 200px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: crosshair;
}
.scrollDown p {
  color: rgb(232, 226, 218);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.flecha {
  width: 20px;
}
.section2{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color:   rgb(232, 226, 218) ;
  position: relative;
  z-index: 1;
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.img1Section2 {
    position: relative; 
    width: 80%;
    height: 70vh;
    background-image: url(./img/bloque2.1.jpg);
    background-size: cover;
    background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;


  
}

  .img1Section2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 42, 39, 0.5); 
    z-index: 1; 
   
  }

  .img1Section2 > * {
    position: relative;
    z-index: 2; 
  }    
  .textoimg1Section2 {
    width: 100%;
    height: 50vh;
   background-color: rgb(232, 226, 218)  ;
    color:rgb(46, 42, 39);
   opacity: 0;
   padding: 20px;
   font-size: 1.2rem;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   display: flex;
   flex-direction: column;
 border:2px solid rgb(46, 42, 39);

  }
.aboutMeH2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color:  rgb(211, 47, 47);
}

  /*SECCION3*/

  .section3{
width: 0%;
height: 100vh;
display: flex;
flex-direction: column;  
justify-content: center;
align-items: center;
margin: 0px auto;
overflow: hidden;
padding: 10px;

}


.skills {

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 12rem;
  cursor: crosshair;
  color:  #2e2a27;
  
}

.divSkills{
  width: 100%;
  height: 30vh;
}

.div2Skills{
  width: 100%;
  height: 80vh;
background-color: #e8e2da;
display: flex;
justify-content: center;
align-items: center;
z-index: 20;
}
.containerSkills1{
  width: 50%;
  height: 50vh;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;


}
.containerSkills2{
  width: 25%;
  height: 60vh;
  background-image: url(./img/portada3.jpg);
  background-size: cover;
  background-position: left;
  margin: 5px;
}
.containerSkills3{
  width: 25%;
  height: 60vh;
  background-image: url(./img/portada3.jpg);
  background-size: cover;
  background-position: right;
  margin: 5px;
}
.cardSkills{
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.textoSkills{
  width: 30%;
  height: 100px;
 display: flex;
 justify-content: start;
 align-items: center;
}
.parrafoSkills{
  color:  rgb(46, 42, 39);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}
.logosSkills1{
  width: 60px;
  height: 60px;
  background-image: url(./img/javascript.png);
  background-size: cover;
  background-position: center;

}
.logosSkills2{
  width: 60px;
  height: 60px;
  background-image: url(./img/typescript.png);
  background-size: cover;
  background-position: center;
}
.logosSkills3{
  width: 60px;
  height: 60px;
  background-image: url(./img/php.png);
  background-size: cover;
  background-position: center;
}

.logosSkills4{
  width: 60px;
  height: 60px;
  background-image: url(./img/react.png);
  background-size: cover;
  background-position: center;

}
.logosSkills5{
  width: 60px;
  height: 60px;
  background-image: url(./img/angular.png);
  background-size: cover;
  background-position: center;
}
.logosSkills6{
  width: 60px;
  height: 60px;
  background-image: url(./img/node.png);
  background-size: cover;
  background-position: center;
}
.logosSkills7{
  width: 60px;
  height: 60px;
  background-image: url(./img/html-5.png);
  background-size: cover;
  background-position: center;

}
.logosSkills8{
  width: 60px;
  height: 60px;
  background-image: url(./img/css-3.png);
  background-size: cover;
  background-position: center;
}
.logosSkills9{
  width: 60px;
  height: 60px;
  background-image: url(./img/bootstrap.png);
  background-size: cover;
  background-position: center;
}
.logosSkills10{
  width: 60px;
  height: 60px;
  background-image: url(./img/mysql.png);
  background-size: cover;
  background-position: center;

}
.logosSkills11{
  width: 60px;
  height: 60px;

}
.logosSkills12{
  width: 60px;
  height: 60px;
 
}